node_modules
package-lock.json
.env*
instances
credentials
maps
logs
temp
.idea
dist
.mise.local.toml
.mise.*.local.toml
.vscode
data/staticData.sqlite-shm
data/staticData.sqlite-wal
data/runtimeData.sqlite
data/runtimeData.sqlite-shm
data/runtimeData.sqlite-wal
data/state.sqlite
data/state.sqlite-shm
data/state.sqlite-wal

# generated proto static modules
src/lib/fcm/proto/mcs_pb.ts
src/lib/fcm/proto/checkin_pb.ts
src/lib/fcm/proto/android_checkin_pb.ts
src/lib/rustplus/rustplus_pb.ts
